.newsCardWrapper {
  display: grid;
  width: 70%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.newsDetailsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 16px;

  img {
    width: 100%;
  }
  h4 {
    font-size: 1.4rem;
    padding-bottom: 8px;
  }
}
